## Fake news detection with AI algorithms

## Part 1

#### Cleaning Data set

Proyecto para la elaboración de un código que reúna 4 técnicas de ML para la detección de noticias falsas.

En esta primera parte nos enfocaremos en preparar la base de datos para, posteriormente en el segundo NoteBook implementar los algoritmos de AI.

In [2]:
#Read Libraries for the proyect

import pandas as pd

#EDA (Exploratory Data Analysis)
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

#AI Models
#from sklearn.model_selection import train_test_split
#from sklearn.metrics import accuracy_score
#from sklearn.metrics import classification_report

#Read Strings
import re
import string

In [3]:
#read Data set fake news
df_fake = pd.read_csv('../Data/Fake/Fake.csv')
df_fake.head()

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"

In [4]:
#read Data set true news
df_true = pd.read_csv('../Data/True/True.csv')
df_true.head()

,title,text,subject,date
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017"
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017"
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017"
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017"
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017"

# Start Data Cleaning

Por un lado, el DataSet tiene columnas innecesarias para los intereses del estudio. Por otro lado, hacen falta algunas columnas que aporten información relevante a los algoritmos de ML para su correcta clasificación. la idea es preparar la base de datos para la correcta implementación del los algoritmos.

In [5]:
#Crear una columna adicional para clasificar el tipo de noticia_fake=0, true=1
df_true["Type"] = 1
df_fake["Type"] = 0

In [6]:
#revisar que se creó la columna
#df_true.head()

#revisar la extensión del data frame y el número de columnas
df_true.shape, df_fake.shape

((21417, 5), (23481, 5))

Para efectos de nuestro ejercicio, es importante revisar que no existan filas nulas, pues no son relevantes y para este caso se pueden eliminar.

In [7]:
#revisar si existen filas sin informacion (nulas)
df_true["text"].isnull().sum()
#df_fake["text"].isnull().sum()

0

Es importante remover algunas entradas para al final del ejercicio, probar la efectividad del algoritmo, para ellos vamos a retirar las ultimas 20 entradas al final de cada DataSet

In [8]:
#remove tail 20 entries of the dataset
df_fakepr  =  df_fake.tail(20)
for i in range(23480, 23460, -1):
        df_fake.drop ([i], axis = 0, inplace = True)
    
    
df_truepr = df_true.tail(20)
for i in range(21416,21396,-1):
    df_true.drop([i], axis = 0, inplace = True)

In [9]:
#Otra manera seria partir el data frame de forma aleatoria por un porcentaje 
#50%
#df_truepr.sample(frac=0.5, replace=True, random_state=1)
#70%
#df_truepr.sample(frac=0.7, replace=True, random_state=1)

In [10]:
#en caso de necesitar una copia de respaldo de los fake and true test
#df_truepr.to_csv("../Data/TrueTesting.csv")
#df_fakepr.to_csv("../Data/FakeTesting.csv")

revisamos el tamaño de los data set luego de la reducción

In [11]:
df_true.shape, df_fake.shape

((21397, 5), (23461, 5))

In [12]:
#union de los data frames de prueba
df_testing = pd.concat([df_fakepr, df_truepr], axis = 0)
#df_testing.shape
df_testing.to_csv("../Data/testing.csv")

Ahora unimos los dos data sets de entrenamiento

In [13]:
#union de los data sets de entrenamiento
df_union = pd.concat([df_true, df_fake], axis = 0)

In [14]:
#eliminar columnas innecesarias
df_news = df_union.drop (["title", "subject", "date"], axis = 1)

Luego de unir los data sets es conveniente revolver un poco las cosas allá dentro para que todo se vea más homogéneo y resetear el índice, así todo será indistinguible.

In [15]:
#mezclar homogeneamente el Dataset
df_news = df_news.sample(frac = 1, replace = False, random_state = 1)

In [16]:
#revisar entradas nulas
df_news.isnull().sum()

text    0
Type    0
dtype: int64

In [17]:
#re-ordenar el indice
df_news.reset_index(inplace = True)
df_news.drop(["index"], axis = 1, inplace = True)

In [18]:
df_news.rename(columns = {"text":"Text"}, inplace = True)

In [19]:
#guardar data frame para proseguir
df_news.to_csv("../Data/news.csv", index = False)